<div class="z-0 fixed top-16">
    <img src="assets/images/background.webp" alt="hero" class="w-full h-full">
    <div>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-20 sm:-translate-y-24 md:-translate-y-52 ">
            <h1 class="text-3xl sm:text-6xl font-bold text-pink-600 text-center">Welcome to <span class="text-pink-400">L</span>ove<span class="text-pink-400">L</span>ink</h1>
            <h2 class="text-xl sm:text-3xl font-bold text-white text-center">Turning Connections into Love Stories.</h2>
            <div class="flex justify-center mt-5">
                <button (click)="logIn()" id="joinNow" class="bg-pink-500 duration-300 hover:bg-pink-600 rounded-3xl px-6 py-1.5 text-lg text-white font-bold items-end shadow-md">Join now</button>
        </div>
    </div>
</div>