@tailwind base;
@tailwind components;
@tailwind utilities;






@media (max-height: 400px) {
  .fixed-container {
    margin-top: 100px !important;
  }
}



html {
  overflow-x: hidden;
}



#logIn {

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

#logIn * {
  font-weight: bold;
}

.show {
  opacity: 1 !important;
  max-height: 500px !important;
  /* Adjust the max-height as needed */
}

.hide {
  opacity: 0 !important;
  max-height: 0 !important;
}

*::-webkit-scrollbar-track {
  background: inherit;

}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(192, 190, 190);
  border-radius: 15px;
}

#joinNow {
  background: linear-gradient(to right, #ff5858, #f857a6);
}

.login-btn {
  background: linear-gradient(to right, #ff5858, #f857a6);
}

.fixed-container {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

#avatar {
  border-radius: 50%;
}

.loader {
  margin-right: 6px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.carousel {
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-item {
  box-sizing: content-box;
  display: flex;
  flex: none;
  scroll-snap-align: start;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}