@tailwind base;
@tailwind components;
@tailwind utilities;




@media (max-height: 400px) {
  .fixed-container {
    margin-top: 100px !important; 
  }
}



input[type="checkbox"]:checked{
  background-color : pink;
}

#remember:checked{
  background-color: pink !important;
}

#logIn{

    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

#logIn *{
  font-weight : bold;
}

.show {
  opacity: 1 !important;
  max-height: 500px !important; /* Adjust the max-height as needed */
}

.hide {
  opacity: 0 !important;
  max-height: 0 !important;
}

body::-webkit-scrollbar-track{
  background: inherit;

}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background: gray;

}

#joinNow{
  background: linear-gradient(to right, #ff5858, #f857a6);
}

.login-btn{
  background :linear-gradient(to right, #ff5858, #f857a6);
}

.fixed-container{
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

#remember:focus {
  border: 1px solid pink;
}
